.products_type{
    width: 100;
    padding: 10% 10%;
}

.products_type .container .box p{
text-align: center;
}


.products{
    padding: 30% 40%;
    width: 100%;
}
.products .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}